{
    "presets": ["module:metro-react-native-babel-preset"],
    "plugins": [
        [
          "module-resolver",
          {
            "root": ["."],
            "alias": {
              "@components": "./src/components",
              "@api": "./src/api",
              "@navigators": "./src/navigators",
              "@theme": "./src/theme",
              "@utils": "./src/utils",
              "@screens": "./src/screens",
              "@assets": "./assets",
              "@firebaseConf": "./src/firebaseConf"
            },
            "extensions": [".ios.js", ".android.js", ".js", ".json"]
          }
        ]
      ]
}